[submodule "Core/Graphics/MikkTSpace"]
	path = Core/Graphics/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace.git
[submodule "Core/Physics/bullet3"]
	path = Core/Physics/bullet3
	url = https://github.com/pmrochen/bullet3.git
[submodule "Core/Filesystem/zlib-ng"]
	path = Core/Filesystem/zlib-ng
	url = https://github.com/zlib-ng/zlib-ng.git
[submodule "Core/Filesystem/minizip-ng"]
	path = Core/Filesystem/minizip-ng
	url = https://github.com/zlib-ng/minizip-ng
[submodule "Core/Imaging/RectangleBinPack"]
	path = Core/Imaging/RectangleBinPack
	url = https://github.com/juj/RectangleBinPack.git
[submodule "Core/Imaging/Formats/libpng"]
	path = Core/Imaging/Formats/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "Core/Imaging/Formats/openexr"]
	path = Core/Imaging/Formats/openexr
	url = https://github.com/AcademySoftwareFoundation/openexr.git
[submodule "Core/Imaging/Formats/Imath"]
	path = Core/Imaging/Formats/Imath
	url = https://github.com/AcademySoftwareFoundation/Imath.git
[submodule "Core/Imaging/Compression/libsquish"]
	path = Core/Imaging/Compression/libsquish
	url = https://github.com/svn2github/libsquish.git
[submodule "Core/External/cereal"]
	path = Core/External/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "Core/External/sigslot"]
	path = Core/External/sigslot
	url = https://github.com/palacaze/sigslot.git
[submodule "Core/External/intrusive_shared_ptr"]
	path = Core/External/intrusive_shared_ptr
	url = https://github.com/gershnik/intrusive_shared_ptr.git
[submodule "Core/External/half"]
	path = Core/External/half
	url = https://github.com/pmrochen/half.git
[submodule "Core/Mathematics"]
	path = Core/Mathematics
	url = https://github.com/pmrochen/Mathematics.git
