[submodule "Core/Common/half"]
	path = Core/Common/half
	url = https://github.com/pmrochen/half.git
[submodule "Core/Graphics/MikkTSpace"]
	path = Core/Graphics/MikkTSpace
	url = https://github.com/mmikk/MikkTSpace.git
